# If you would like to upload your .git directory, .gitignore file or
# files from your .gitignore file, remove the corresponding line below:
.git
.github
.vscode
.editorconfig
/docker-compose.yml
/flyway.example.conf
LICENSE
README.md
#!include:.gitignore
